
body {
    display: flex;
    flex-direction: column;
}
    
nav {
    display: flex;
    justify-content: space-between;
}

.box {
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
}

#start-button {
    justify-content: center;
    margin: 1% 20%;
}
.choices {
    display: flex;
    flex-direction: column;
}
.button {
    margin: 1% 10%;
    background-color: rgba(240, 239, 239, 0.986);
}